@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;

}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;   
    background: linear-gradient(to right, #bea091, #bea091);

}

img {
    display: flex;
    position: relative;
    left: 4.4rem;
    justify-content: center;
    align-items: center;
    
}

.Container {
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.0);
    width: 20rem;
    background-color: #83838300;
    position: absolute;
    top: 30rem;
    justify-content: center;
    align-items: center;

}

h1 {
    position: relative;
    top: -40px;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;

}

input {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.senha {
    position: relative;
    filter: drop-shadow(2px 1px 10px #766b76);
}

.senha::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

button {
    position: relative;
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

button:active {
    background-color: #21883796;
}


/* Media Queries para Responsividade */
/* Para telas até 768px */
@media (max-width: 768px) {
    .Container {
        display: flex;
        width: 20%;
        top: 31rem;
        left: 37%;
        justify-content: center;
        align-items: center;
    }
    #cadeado {
        display: flex;
        width: 20%;
        top: 31rem;
        right: 18.5rem;
        justify-content: center;
        align-items: center;
    }
    body img {
        left: 1rem;
        width: 90%;
        top: 0.1rem;
        justify-content: center;
        align-items: center;
    }
    .Container h1 {
        right:  10%;
        font-size: 9px;
        font-weight: 800;
    }
    #password {
        display: flex;
        right: 45%;
        position: relative;
        top: -2rem;
        font-size: 0.6rem;
        width: 180%;
    }
    button {
        display: flex;
        right:  10%;
        position: relative;
        top: -2rem;
        font-size: 13px;
        width: 110%;
        align-items: center;
        justify-content: center;
        /* background-color: rgba(0, 255, 34, 0.374); */
    }
}

/* Para telas até 480px */
@media (max-width: 480px) {
    .Container {
        display: flex;
        width: 25%;
        top: 31rem;
        left: 12rem;
        justify-content: center;
        align-items: center;
    }
    #cadeado {
        display: flex;
        width: 35%;
        top: 34rem;
        right: 8.8rem;
        justify-content: center;
        align-items: center;
    }
    body img {
        left: 3.9rem;
        width: 100%;
        top: 0.1rem;
        justify-content: center;
        align-items: center;
    }
    .Container h1 {
        right: 5%;
        font-size: 0.8rem;
        font-weight: 700;
    }
    #password {
        display: flex;
        right: 11%;
        position: relative;
        top: -2rem;
        font-size: 0.7rem;
        width: 110%;
    }
    button {
        display: flex;
        right: 8%;
        position: relative;
        top: -2rem;
        font-size: 14px;
        width: 70%;
        align-items: center;
        justify-content: center;
    }
}

/* Para telas até 430px */
@media (max-width: 430px) {
    .Container {
        display: flex;
        margin-top: -11rem;
        width: 25%;
        top: 31rem;
        left: 9rem;
        justify-content: center;
        align-items: center;
    }
    #cadeado {
        display: flex;
        width: 25%;
        top: 31rem;
        right: 8.8rem;
        justify-content: center;
        align-items: center;
    }
    body img {
        left: 2rem;
        width: 100%;
        top: 0.1rem;
        justify-content: center;
        align-items: center;
    }
    .Container h1 {
        font-size: 0.8rem;
        font-weight: 700;
    }
    #password {
        display: flex;
        position: relative;
        top: -2rem;
        font-size: 8px;
        width: 20%;
    }
    button {
        display: flex;
        position: relative;
        top: -2rem;
        font-size: 15px;
        width: 20%;
        align-items: center;
        justify-content: center;
    }
}

/* Para telas até 400px */
@media (max-width: 400px) {
    .Container {
        display: flex;
        width: 20%;
        top: 31rem;
        left: 9rem;
        justify-content: center;
        align-items: center;
    }
    #cadeado {
        display: flex;
        width: 20%;
        top: 33.5rem;
        right: 7.5rem;
        justify-content: center;
        align-items: center;
    }
    body img {
        left: 1.5rem;
        width: 82%;
        top: -5.1rem;
        justify-content: center;
        align-items: center;
    }
    .Container h1 {
        display: flex;
        left:  10%;
        top: -3.5rem;
        font-size: 0.4rem;
        font-weight: 700;
    }
    #password {
        display: flex;
        right: 5%;
        position: relative;
        top: -3.5rem;
        font-size: 6px;
        width: 140%;
    }
    button {
        display: flex;
        left: 10%;
        position: relative;
        top: -5rem;
        font-size: 7px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
